* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategrey;
}

.primoEsercizio,
.secondoEsercizio {
    max-width: 1000px;
    text-align: center;
    margin-top: 200px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
}

.secondoEsercizio {
    position: relative;
}

#resultCpu {
    color: yellow;
    position: absolute;
    top: 50%;
    left: 5%;
}

button,
input {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.pb-2 {
    padding-bottom: 20px;
}

.d-none {
    display: none;
}

.white {
    color: white;
}