* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategrey;
}

.primoEsercizio,
.secondoEsercizio {
    max-width: 1000px;
    text-align: center;
    margin-top: 200px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
}

.secondoEsercizio {
    position: relative;
}

#resultCpu {
    color: yellow;
    position: absolute;
    top: 50%;
    left: 5%;
}

#retry {
    position: absolute;
    top: 48%;
    left: 54%;
}

button,
input {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.mt-10 {
    margin-top: 10px;
}

.pb-2 {
    padding-bottom: 20px;
}

.d-none {
    display: none;
}

.ocra {
    color: #d59d24;
}

.white {
    color: white;
}

.rainbow {
    animation: rainbow 0.5s linear;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
    100%,
    0% {
        color: rgb(255, 0, 0);
    }
    8% {
        color: rgb(255, 127, 0);
    }
    16% {
        color: rgb(255, 255, 0);
    }
    25% {
        color: rgb(127, 255, 0);
    }
    33% {
        color: rgb(0, 255, 0);
    }
    41% {
        color: rgb(0, 255, 127);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    58% {
        color: rgb(0, 127, 255);
    }
    66% {
        color: rgb(0, 0, 255);
    }
    75% {
        color: rgb(127, 0, 255);
    }
    83% {
        color: rgb(255, 0, 255);
    }
    91% {
        color: rgb(255, 0, 127);
    }
}